{% extends 'anaSayfa.html' %}
{% load static %}
{% block title %}
<title>Bildirim</title>
{% endblock title %}

{% block style %}
  .row1 {
      background: rgb(255,255,239);
   }
   .row2 {
      background: rgb(239,255,255);
   }
    .row3 {
      background:rgb(224, 224, 255);
   }
    .row4 {
      background: #f9ecec;
   }
{% endblock style %}

{% block body %}
<div class="row">
    <div class="col-7">
        <table class="table">
              <tbody>
                {% for addGame in addGame %}
                <tr class="{% cycle 'row1' 'row2' %}">
                    {% if addGame.user.profil.user_image %}
                        <td><a href="/user/profil/{{addGame.user.id}}"><img class="img-fluid" style="width:50px; height:50px; border-radius:8px;" src="{{addGame.user.profil.user_image.url}}"></td></a>
                    {% else %}
                        <td><a href="/user/profil/{{addGame.user.id}}"><img class="img-fluid" style="width:50px; height:50px;" src="{% static 'kullanıcıimg.png'%}"></td></a>
                    {% endif %}
                    <td><p ><strong><a style="color:rgb(0,0,0)" href="/user/profil/{{addGame.user.id}}">{{addGame.user.username}}</strong></a> adlı kullanıcı <a style="color:rgb(0,0,0)" href="/oyunlar/detail/{{addGame.game.oyun_isim}}"><strong>{{addGame.game.oyun_isim}}</strong></a> listesine ekledi.</p></td>
                    </tr>
                {% endfor %}
              </tbody>
        </table>
    </div>
    <div class="col-4" style="margin-left:30px">
        <table class="table" style="border-radius:5px;">
              <tbody>
                {% for addFriends in addFriends %}
                <tr class="{% cycle 'row3' 'row4' %}"  >
                    {% if addFriends.ekleyen.profil.user_image %}
                        <td><a href="/user/profil/{{addFriends.ekleyen.id}}"><img class="img-fluid" style="width:45px; height:40px; border-radius:8px;" src="{{addFriends.ekleyen.profil.user_image.url}}"></td></a>
                    {% else %}
                        <td><a href="/user/profil/{{addFriends.ekleyen.id}}"><img class="img-fluid" style="width:45px; height:40px;" src="{% static 'kullanıcıimg.png'%}"></td></a>
                    {% endif %}
                    <td><p style="font-size:11px;"><strong><a style="color:rgb(0,0,0)" href="/user/profil/{{addFriends.ekleyen.id}}">{{addFriends.ekleyen.username}}</strong></a> adlı kullanıcı <a style="color:rgb(0,0,0)" href="/user/profil/{{addFriends.eklenen.id}}"><strong>{{addFriends.eklenen.username}}</strong></a> arkadas ekledi.</p></td>
                    </tr>
                {% endfor %}
              </tbody>
        </table>
    </div>
</div>
{% endblock body %}