{% extends 'anaSayfa.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
<title>{{haberler.baslik}}</title>
{% endblock title %}
{% block style %}
.zoom {
  background-color:  #f2f2f2;
  max-width:170px;
  border-radius:8px;
  transition: transform .5s;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(2.2); 
}

{% endblock style %}
{% block body %}
<div class="row">
    <div class="col-3" style="height:500px; ">
        {% if haberler.user.profil.user_image %}
            <div class="col-9" style="border-radius:3px; background-color:#668cff; padding-bottom:5%;">
                <a href="/user/profil/{{haberler.user.id}}"><center><img class="img-fluid text-center" style="width:100px; height:100px; margin-top:5%; border-radius:3px;" src="{{haberler.user.profil.user_image.url}}"></center></a>
                <div>
                    <p class="text-center" style="font-family:cursive">{{haberler.user.username}}</p>
                </div>
                <div class="zoom">
                    <div>
                        <p style="font-size:9px"><strong>Hakkında:</strong></p>
                        <p class="container" style="font-size:7px;">{{haberler.user.profil.hakkında}}</p>
                    </div>
                </div>
                <hr>
                <div class="zoom">
                    <div>
                        <p style="font-size:9px"><strong>Güncel Yazıları:</strong></p>
                    </div>
                    <div style="margin-top:-18px;">
                    <table class="table" >
                        <tbody >
                            {% for yazarguncel in yazarguncel %}
                                <tr >
                                    <td ><p style=" margin-top:-10px; margin-bottom:-10px;"><a href="/haberler/detail/{{yazarguncel.id}}" style="font-size:7px; color:black;">{{yazarguncel.baslik|truncatewords:7}}</a></p></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
                <div class="d-flex justify-content-around">
                    <a href="/haberler/detail/add-favori/{{haberler.id}}" style="color:#e6e6e6; margin-top:5px;"><i class="fas fa-thumbs-up" style="font-size:22px;"></i></a>
                    <button type="button" class="btn" data-toggle="modal" style="color:#e6e6e6" data-target="#myModal"><i class="fas fa-exclamation-triangle" style="font-size:22px;"></i></button>
                </div>
            </div>
            <hr style="width:70%">
            <dl style="max-width:100px">
                <dt>Beğenme:</dt>
                <dd class="text-right">{{haberler.toplamBegenme}}</dd>
                <dt>Yorum:</dt>
                <dd class="text-right">{{haberler.toplamYorum}}</dd>
            </dl>
        {% else %}
                        <div class="col-9" style="border-radius:3px; background-color:#668cff; padding-bottom:5%;">
                <a href="/user/profil/{{haberler.user.id}}"><center><img class="img-fluid text-center" style="width:100px; height:100px; margin-top:5%; border-radius:3px;"  src="{% static 'kullanıcıimg.png'%}"></center></a>
                <div>
                    <p class="text-center" style="font-family:cursive">{{haberler.user.username}}</p>
                </div>
                <div class="zoom">
                    <div>
                        <p style="font-size:9px"><strong>Hakkında:</strong></p>
                        <p class="container" style="font-size:7px;">{{haberler.user.profil.hakkında}}</p>
                    </div>
                </div>
                <hr>
                <div class="zoom">
                    <div>
                        <p style="font-size:9px"><strong>Güncel Yazıları:</strong></p>
                    </div>
                    <div style="margin-top:-18px;">
                    <table class="table" >
                        <tbody >
                            {% for yazarguncel in yazarguncel %}
                                <tr >
                                    <td ><p style=" margin-top:-10px; margin-bottom:-10px;"><a href="/haberler/detail/{{yazarguncel.id}}" style="font-size:7px; color:black;">{{yazarguncel.baslik|truncatewords:7}}</a></p></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
                <div class="d-flex justify-content-around">
                    <a href="/haberler/detail/add-favori/{{haberler.id}}" style="color:#e6e6e6"><i class="fas fa-thumbs-up" style="font-size:22px;"></i></a>
                    <a href="/haberler/detail/add-report/{{haberler.id}}" style="color:#e6e6e6"><i class="fas fa-exclamation-triangle" style="font-size:22px;"></i></a>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="col-9" style="  height:500px;">
        <div>
            <h3 class="text-center">{{haberler.baslik}}</h3>
            <p class="text-center small" style="font-family:fantasy">{{haberler.tags}}</p>
            <p> {{haberler.content|safe}}</p>
            <p class="text-right">{{haberler.tarih}}</p>
        </div>
        <hr>
        {% if  request.user.is_authenticated %}
            <div>
                <h4>Yorum Yap:</h4>
                <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-10">
                            {{form.yorum|as_crispy_field}}
                        </div>
                        <div class="col-2">
                            <button type="submit" style="margin-top:25%" class="btn btn-primary">Ekle</button>
                        </div>
                    </div>
                </form>
            </div>
        {% endif %}   
        <div>
            <h4>Yorumlar:</h4>
            <div>
                {% for yorum, begeni in yorumlarHaber %}
                    <div class="row">
                        <div class="col-1" >
                            {% if yorum.yorumYapan.profil.user_image %}
                                <a href="/user/profil/{{yorum.yorumYapan.id}}"><img style="width:60px; height:60px" class="rounded-circle" src="{{yorum.yorumYapan.profil.user_image.url}}"></a>
                            {% else %}
                                <a href="/user/profil/{{yorum.yorumYapan.id}}"><img style="width:60px; height:60px" class="rounded-circle" src="{% static 'kullanıcıimg.png'%}"></a>
                            {% endif %}
                        </div>
                        <div class="col-11">
                            <p class="container">{{yorum.yorum}}</p>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-2">
                            <a href="/haberler/detail/favYorum/{{yorum.id}}"><i class="far fa-heart" style="font-size:24px; color:red;"></i></a><strong style="font-size:12px">{{begeni}}</strong>
                        </div>
                        <div class="col-10 text-right">
                            <p style="font-size:10px;">{{yorum.dateyorum}}<br><strong style="color:#668cff"><a href="/user/profil/{{yorum.yorumYapan.id}}">{{yorum.yorumYapan}}</a></strong></p>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>
</div> 
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Report</h4>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
           <form method="POST" action="/haberler/detail/add-report/{{haberler.id}}">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12">
                        {{reportform|crispy}}
                    </div>
                    <div class="col-12 text-center">
                        <button type="submit" style="margin-top:25%" class="btn btn-primary">Ekle</button>
                    </div>
                </div>
            </form> 
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
        </div>
        
      </div>
    </div>
  </div>
{% endblock body %}

