{% extends 'anaSayfa.html' %}

{% block title %}
    <title>Forum</title>
{% endblock title %}

{% block body %}
<div class="row">
    <div class="col-3" >
        <div class="overflow-auto container " style="max-height:640px; position:fixed; border-right-style: solid; max-width:250px;">
            <div>
                <a href="/forum/add/" style="background-color:#668cff" class="btn btn-block">Forum Ekle</a>
            </div>
            
            <p><strong>Beğenilen Sorular: </strong></p>
            <table class="table table-striped">
                <tbody>
                {% for paylasimlar in paylasimlargüncel %}
                    <tr>
                        <td style="border-radius:5px; "><a style="color:black;" href="/forum/detail/{{paylasimlar.id}}">{{paylasimlar.title|truncatewords:8}}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-8">
    <form class="form-inline d-flex md-form form-sm col-8" style="margin-left:45%">
        {% csrf_token %}
        <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" name="keyword_forum" aria-label="Search">
        <button class="btn btn-light" type="submit">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
        <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
        </svg>
        </button>
    </form>
        {% for paylasimlar, yorum, begeni in paylasimlar %}
            <div class="container">
                <div>
                    <h3 style="font-family:cursive"><a href="/forum/detail/{{paylasimlar.id}}"><strong style="color: black">{{paylasimlar.title}}</strong></a></h3>
                </div>
                <div>
                    <p>{{paylasimlar.soru|safe|truncatewords:20}}</p>
                </div>
                <div class="d-flex justify-content-between">
                    <div>
                        <p style="font-size:13px;"><i style="color:#e68a00" class="fas fa-thumbs-up"></i> : {{begeni}}<br><i style="color:#e68a00" class="fas fa-comment-alt"></i> : {{yorum}}</p>
                    </div>
                    <div>
                        <div class="col">
                            <p style="font-size:11px;">{{paylasimlar.sorulanTarih}}--<a href="/user/profil/{{paylasimlar.soran.id}}"><strong style="color:#ff8080; font-size:14px;"> {{paylasimlar.soran}}</strong></a></p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
</div>
{% endblock body %}

